h1 {
  line-height: 5rem;
  /* border: 2px solid red; */
  font-size: 4rem;
  font-weight: 800;
  margin: 1rem 0;
}

article > h2 {
  font-size: 180%;
  letter-spacing: -2px;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.1rem;
    line-height: 3rem;
  }
  .css-x {
    opacity: 1 !important;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2 !important;
  }
}

.introduction,
em {
  margin: 2.5em 0.4em;
  font-size: 1.2em;
  font-weight: 370;
}

.watchout,
blockquote {
  background-color: rgb(255, 229, 100, 0.2);
  padding: 1.6em 0em 0.3em 2em;
  border-left: 0.6rem solid #ffe564;
  margin: 30px -10px;
}

.returnLink {
  display: inline-flex;
  align-items: center;
  font-size: 0.7em;
  padding: 2em 0;
}

.erX_n23ndFEJNFKJ {
  transform: translate(30px, 20px) rotate(20deg);
  -moz-transform: translate(30px, 20px) rotate(20deg);
  color: red;
}
