div.img-container {
  //border: 2px solid red;
  width: 17rem;
}
.img-wrapper {
  width: 100%;
  margin-bottom: 1.45rem;
  transition: all 0.3s ease-out;
  // transition-delay: 3s;
  // transition-property: all;
  // transition-duration: 3s;
}
