.main {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 2.2em auto;
  gap: 2rem;
}

.imgContainer {
  width: 20rem;
  height: 20rem;
}

.img {
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--sekx-grey);
  background-color: var(--sekx-black);
}

.author {
  font-size: 2.4rem;
  letter-spacing: -0.073rem;
  color: var(--sekx-black);
  font-weight: 500;
}

.title {
  font-size: 2rem;
  color: var(--sekx-grey);
}

.enquiryBtn {
  display: flex;
  align-items: baseline;
  padding: 0px;
  font-weight: 500;
  font-size: medium;
  opacity: 0.6;
  text-decoration: none;
}

.enquiryBtns {
  display: flex;
  gap: 0px 2rem;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .author {
    text-align: center;
  }

  .title {
   text-align: center;
  }

  .enquiryBtns {
        flex-wrap: wrap;
        gap: 0.5rem 1.2rem;
   }
}
