@font-face {
  font-family: roboto;
  src: url(../assets/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: agbalumo;
  src: url(../assets/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: jakarta;
  src: url(../assets/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
  font-family: jakarta;
}

.agbalumo-font {
  font-family: agbalumo;
}
