html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*{
  outline:none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #333333;
  font-weight: 200;
  background-color: #fff;
}
*::before, *::after{
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
footer{
  width:90%;
  margin: auto;
  font-size: 1em;
}

#love{
  color: #ee1515;
  width:5em;
  animation-name: size;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes size {
  0% {
    font-size: 20%;
  }
  50%{
    font-size: 70%;
  }
  100% {
    font-size: 90%;
  }
}

