body,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

.flicker {
  animation: flicker 3s linear forwards alternate infinite;
  font-size: 2rem;
}
.flicker:nth-child(even) {
  animation-delay: 0.3s;
  animation-direction: alternate-reverse;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 95%;
  }
}
footer {
  margin-top: 4em; 
  font-size: 0.9em;
  display: flex;
  align-items: stretch;
  justify-content:space-around;
}

ul li{
  list-style: none;
  margin-bottom: 0.5em;
}
#asideFlex{
  display: flex
}
.lovecontainer{
  /* border: 2px solid red; */
  min-width: 2em;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#love {
  display: inline-block;
  color: rgb(232, 58, 255);
  margin: auto;
  animation-name: size;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes size {
  0% {
    font-size: 20%;
  }
  50% {
    font-size: 70%;
  }
  100% {
    font-size: 90%;
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  72%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  71.999% {
    opacity: 0.33;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

.borderTop {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 3px solid #3d7e9a;
}
