body,h1,h2,h3,a{
  margin:0;
  padding:0;
}



@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
footer{
  width:90%;
  margin: auto;
  font-size: 0.9em;
}

#love{
  color: rgb(77, 14, 85);
  width:5em;
  animation-name: size;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes size {
  0% {
    font-size: 20%;
  }
  50%{
    font-size: 70%;
  }
  100% {
    font-size: 90%;
  }
}

