footer {
  margin-top: 4em;
  font-size: 0.9em;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

#asideFlex {
  display: flex;
}
.lovecontainer {
  /* border: 2px solid red; */
  min-width: 2em;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#love {
  color: rgb(232, 58, 255);
  margin: auto;
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
  }
  #asideFlex {
    padding-top: 2rem;
  }
}
