$designGreen:rgb(111, 23, 122);
$tickerDesignGreen : rgb(55, 10, 61);
$altDesignGreen : rgb(215, 53, 247);
$linkPaintforDarkMode: rgb(157, 47, 172);
$linkPaintforLigthMode: rgb(126, 40, 138);
.none{
    display: none;
}
.current{
    display:block;
}
button{
    cursor: pointer;
}
.changeCurrentColor{
    border: 3px solid $altDesignGreen;
    box-shadow: 1px 0.2px 0.3px $altDesignGreen;
    border-radius: 20%;
    color: $altDesignGreen;
    background-color: transparent;
}
div#overallWrapper{
    width: 55vw;
    margin: 0 auto;
}
span.joke{
    color: $designGreen;
    font-weight: bolder;
    font-size: 2rem;
}
div.header_container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.changingImg{
    border-radius: 50%;
    width: 19rem;
    height: 19rem;
    background-color: $designGreen;
    transition: all 0.3s ease-out;
}

code[class*="language-"], pre[class*="language-"] {
   margin: 2em 0;
}

.watchout{
    background-color: rgb(216, 216, 114);
    padding: 1.6em 0em 0.3em 2em;
    border-left: 2rem solid rgb(236, 27, 27);
    color: rgb(71, 64, 64);
    margin: 2em 0;
}

.introduction {
    margin: 2.5em 0.4em;
    font-size: 1em;
    font-family: "DM Mono", monospace;
}

.sourcecode {
    background-color: rgb(189, 189, 31);
    font-weight: bold;
    padding: 0 0 0 2rem;
    border-left: 14px solid rgb(10, 8, 43);
    color: #000;
    font-size: 1.1em;
    margin: 4rem 0 1rem 0;
}

div.floatingInterests{
    //border:2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    a{
       // padding:0.4em 1em;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
div.instantPage-loader{
   // border: 2px solid red;
    padding: 2rem 1rem 0px 1rem;
    letter-spacing: 0.08em;
    div.floatingBtn{
        //border: 2px solid yellow;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        button{
            padding: 0.3em 2em;
            font-size:1rem;
        }
    }
}

.fltBtn{
    border: 3px solid $designGreen;
    box-shadow: 1px 0.2px 0.3px $designGreen;
    border-radius: 20%;
    background-color: transparent;
    font-weight: 650;
    cursor: pointer;
    color:$designGreen
    //text-shadow:1px 1px 1.1px rgb(31, 120, 172);
}
.details{
    font-weight:415;
    font-Size:1.5rem;
    line-height:2rem;
    font-family:sans-serif;
    //border: `2px solid red;
    margin-top:-9px;
}
.grey{
    color:#888888;
}
.butterGrey{
    color: #333333;
}

.white{
    color: white !important;
}
.material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
  }

@media screen and (max-width:600px){
    div#overallWrapper{
        width: 100vw;
    }
    div.header_container {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
   
    div.floatingInterests{
        //border:2px solid red;
        a{
           // padding:0.4em 1em;
            font-weight: 100;
        }
    }
    div.instantPage-loader{
        // border: 2px solid red;
         div.floatingBtn{
             //border: 2px solid yellow;
             width: 90%;
             margin: auto;
             button{
                 padding: 0.3em 2em;
                 margin: 0.2em;
             }
         }
     }
}

//MOBILE CSS ENDS HERE